body{
    background-color: #d2c8ed;
    display: flex;
    height: 100vh;
    margin: 0;
}
label {
    margin-bottom: 0.5rem
}

input, textarea{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
}
input:focus{
    outline: none;
    border-color: olive;
}
button{
    padding: 1.5rem;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover{
    background-color: #4CAF50;
}
